#about-contato{
    form{
        label, input[type="checkbox"], .form-group {
            @include responsive(xs) {
                text-align: left;
            }
            @include responsive(sm) {
                text-align: left;
            }
            @include responsive(md) {
                text-align: left;
            }
        }
        label:not(.produtos-contato label, .arquivo){
            display: block;
            margin-bottom: 5px;
            font-weight: 500;
        }
        input[type="checkbox"] {
            @include transition(.45);
        }
        .form-control{
            display: inline-block;
            width: 100%;
            font-size: em(16);
            color: $black;
            height: 50px;
            background-color: #EEE;
            outline: none;
            @include border(2, #EEE);
            @include bradius(7);
            @include transition(.45);
            padding: 0 0 0 15px;
            &.file{
                width: 40%;
            }
            &.error{
                border-width: 2px;
                border-color: rgba($redAlert, .8);
                @include bshadow($alertBox);
            }
        }
        select.form-control{
            padding: 12px 15px;
        }
        h3 {
            font-size: em(18);
            font-weight: 600;
        }
        fieldset{
            @include border(1, #C0C0C0);
            @include bradius(6);
            padding: 7px 10px;
            position: relative;
        }
        legend{
            font-weight: 500;
            font-size: em(16);
            display: inline-block;
        }
        #projeto {
            visibility: hidden;
            opacity: 0;
            height: 0;
            width: 0;
        }
        .arquivo{
            @include border(2, $secondary);
            @include bradius(7);
            padding: 12px 20px;
            background: $secondary;
            color: $white;
            text-transform: uppercase;
            font-weight: 500;
            position: relative;
            left: -25px;
            cursor: pointer;
        }
        .produtos-orcamento {
            @include border(2, transparent);
            @include bradius(8);
            padding: 0;
            @include transition(.2);
            &.has-error {
                border-color: rgba($redAlert, .8);
                @include bshadow($alertBox);
                padding: 5px 15px 20px 15px;
                p {
                    color: $redAlert;
                    margin: 6px 0 0 0;
                    @include transition(.2);
                }
            }
            p {
                font-weight: 500;
                font-size: em(16);
            }
        }
        span.error{
            color: $redAlert;
            margin: 6px 0 0 0;
            @include transition(.2);
            font-weight: 500;
            font-size: em(16);
        }
        button {
            display: inline-block;
            @include border(2, $main);
            @include bradius(5);
            background: $main;
            color: $white;
            padding: 12px 40px;
            margin-top: 15px;
        }
    }
    .social-buttons {
        @include social;
    }
    h2, h3 {
        font-size: em(28);
        font-weight: 500;
    }
    p{
        a{
            @include transition(.2);
            &:hover {
                color: $secondary;
                i {
                    color: $main;
                }
                span {
                    translate: 5px 0;
                    font-size: em(18);
                }
            }
            span {
                display: inline-block;
                @include transition(.2);
            }
            i {
                @include transition(.2);
                font-size: em(20);
            }
        }
    }
    p {
        small {
            color: $secondary;
            strong {
                font-weight: 700;
            }
        }
    }
}